/*---------------------------------
    Fonts
  ---------------------------------*/
$font-risque: 'Risque', cursive;
$font-roboto: 'Roboto', sans-serif;
$font-tnr: serif;

//font sizes (at least the common ones)
$font-size-small:12px;
$font-size-normal:14px;
$font-size-large: 16px;
$font-size-xlarge: 21px;/**/
$font-size-huge:40px;

$font-size-huge-small: 30px;
$font-size-digit: 72px;
$font-size-tagline: 20px;

/*---------------------------------
    Colors
  ---------------------------------*/
$color-black: rgba(0, 0, 0, 0.9);
$color-white: #fff;
$color-white-a: #F7F5F5;
$color-primary: #07763E;
$color-secondary: #598ED7;
